.slot-parent {
    top: 20px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    // margin: 24px;
}

.error {
    text-align: center;
    background-color: red;
}
.error * {
    background-color: red;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    display: contents;

    top: 10px;
}

#table tr:nth-child(even) {
    background-color: lightgray;
}
#table tr {
    background-color: white;
}

#table td,
#table th {
    border: 1px solid black;
    padding: 8px;
    white-space: nowrap;
}
// TODO: Issues between this
#table .sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #04aa6d;
    border: 1px solid black;
}

#table tr:hover {
    background-color: darkgray;
}

#table th.sticky {
    z-index: 3;
    margin-top: auto;
}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: 96px;
}
