$back-color: white;
$back-err: red;
$back-hover: slateblue;

.slot-parent {
    top: 20px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    // margin: 24px;
}

.error {
    color: black;
    text-align: center;
    * {
        background-color: $back-err;
    }
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    display: contents;

    top: 10px;
    & tr {
        background-color: $back-color;
        &:nth-child(even) {
            background-color: darken($color: $back-color, $amount: 30);
        }
        &.disabled-row {
            color: darkslategray;
            background-color: darken($color: $back-color, $amount: 50);
        }
        &:hover {
            background-color: $back-hover;
        }
    }
}

#table td,
#table th {
    border: 1px solid black;
    padding: 8px;
    $back-color-space: nowrap;
}
// TODO: Issues between this
#table .sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #04aa6d;
    border: 1px solid black;
}

#table th.sticky {
    z-index: 3;
    margin-top: auto;
}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-top: 96px;
}
